/* Large Tablet Devices */
@media only screen
and (max-width : 1400px) {
  
  /*Header Area*/

  /*Nav Area*/
  .page_nav ul li a{padding:20px 16px;}
  /*Banner Area*/

  /*Middle Area*/
 .mid_box1 {padding: 70px 63px;}
  /* .mid_box2 { height: auto; width: 43%; }  */
  /*Main Area*/

  /*Bottom Area*/
  
 
  /*Footer Area*/
}
@media only screen
and (max-width : 1371px){

  .form-text,.form-message,.form-btn,.form-email{width: 48%;}
  .form-message{}
  .form-btn{margin: 20px 0;}
  .form-email{}
  #messageform {
    text-align: center;
    }
}
@media only screen
and (max-width : 1300px) {
  /*Header Area*/
 
  
  /*Nav Area*/
  .page_nav ul li a{padding:20px 11px;}
  
  /*Banner Area*/

  /*Middle Area*/
  .mid_box1{ padding: 44px 63px;}
 
  /*Main Area*/
  
  main {width: 52%;margin-top: 0;}
  /*Bottom Area*/
  .btm1_boxes {
    justify-content: center;
}
.btm1_boxes section {
  margin: 0 5px;
  }
  /*Footer Area*/

}
@media only screen
and (max-width : 1200px) {
  /*Header Area*/
  .page_nav ul li a {
    padding: 20px 7px;font-size: 19px;
    }
  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/
  .mid_box1 {
    padding: 16px 63px;
    }
  .con1 > h2{font-size: 55px;}  
  .btm1_boxes section a{
    width: 95%;
    max-width: 243px;
    }
  /*Main Area*/
  main .h1_title {
    font-size: 49px;
    line-height: 33px;
    }
  /*Bottom Area*/
  /* .btm1_boxes {
    flex-wrap: wrap;
    justify-content: center;
    
} */

.btm1_boxes section {
  margin: 10px 5px;
 
  }
  .btm1_boxes section h2 {
    min-height: 47px;
    }
    .btm2_left_con {
      margin: 0 10px;
      }
    /* .btm1_box2 {width: 84%;
      } 
      .btm1_boxes section a::after {
right: 68px;
right: 55px;
} */
  /* max-width: 243px;
  width: 95%; */
  /*Footer Area*/

}
@media only screen
and (max-width : 1100px) {
  html, body{
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
  }
 
  /*Header Area*/

  /*Nav Area*/
  .page_nav ul li a{  padding: 20px 2px;
    font-size: 18px;}

  /*Banner Area*/

  /*Middle Area*/
  .middle_boxes {
    flex-wrap: wrap;
    justify-content: center;
    }
    .middle_boxes {
      flex-wrap: wrap;
      justify-content: center;
      }
      .con2 section {
       
        margin: 10px 10px;
        }
        .mid_box1 {
          width: 100%;
          }
          .mid_box2 > div:nth-child(1) > img:nth-child(1) {
            display: block;
            margin: 0 auto;
            }
            
  /*Main Area*/
  main .h1_title {
    margin-top: 0;
font-size: 45px;
line-height: 39px;
margin-bottom: 16px;
    }
  /*Bottom Area*/
  .btm2_left_con h2 {
    font-size: 50px;
    }
  /*Footer Area*/


}

@media only screen
and (max-width : 1024px) {
   /* Nav Area Sub-Menu Style */
   .page_nav ul li.menu-item-has-children > span{display:block;font-size: 17px;right:20px;top:30px;position:absolute;}
   .page_nav ul li:hover > ul{display: none;}

   /*banner*/
   .box_skitter{top:0!important;}
}

@media only screen
and (max-width : 1000px) {

  #nav_area{position: static;top: unset; width: unset;background: unset;height: unset;z-index: unset;padding: unset;}
  .header_con{min-height:0;padding:0;position: static;z-index: unset;top: unset;padding: unset;width: unset;}


  .serv_list ul li {width:45%}

  /*Header Area*/
  header {padding: 40px 25px;}
  .header_con{min-height: 0;padding:0;}

  .main_logo{text-align: center;width: 100%;}
  .head_info{}
  .header_info{}
  .social_media{display:block;margin:15px 0 0;}
  
  /*Nav Area*/
  .page_nav {width:100%;float: none; clear: both;height:auto;transition:none;padding:25px 15px;margin:0 auto 0;}
  .page_nav ul{ margin:0; padding:0 5px;text-align:center;float: none;width: 100%;}
  .page_nav ul li{width:48%; margin:5px 3px;}
  .page_nav ul li:after{display:none;}
  .page_nav ul li a{border:1px solid #494949;border-radius:5px;height:auto;}
  .page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a{text-decoration: none;background: #5290d7;color: white;}

  .page_nav ul li.menu-item-has-children > span{right:0;top:15px;}


  .page_nav ul ul, .page_nav ul ul li, .page_nav ul ul li a {width:100%;}
  .page_nav ul ul li{margin: 0 !important}

  /*Banner Area*/
  
  #banner{margin-top: 0;}
    .bnr_info p {padding-bottom: 35px;}
    .bnr_con{min-height:0;padding:0;}
    .box_skitter{display:none;}
    .slider{display:block;width:100%;margin-left:0;}
    .bnr_info{width:100%;position:static;padding:45px 25px;text-align: center;background:#000;text-align: center;height: auto;}
    .bnr-flex figure{display:none;}
    .bnr_flex {}
    .bnr_info a {position:absolute;margin: 20px auto;left: 0;}
    .bnr_info > h2 ,.bnr_info > p{color:white;}
    /* .bnr_flex > figure > img {width: 381px;} */
          /* .bnr_flex > figure:nth-child(1) > img:nth-child(1) {
            width: 40%;
            } */

	/*NON-HOME*/
    .non_ban_img{width: 185%;margin-left: -40%;transform:none;}



  /*Middle Area*/
  #middle{padding: 40px 25px;}
    .middle_con{min-height:0;padding:0;}
    .middle_boxes{}
    .middle_boxes section{margin: 10px auto;}
    .con2 section { margin: 10px 5px; }
    .btm1_boxes {flex-wrap: wrap;}
    .mid_box2 > figure:nth-child(1) > img:nth-child(1) {display: none; }
  /*Main Area*/
  #main_area{padding:40px 25px; margin:0;min-height:0;}
    .main_con{min-height:0;padding:0;}
    main, .sidebar{float:none; margin: auto; width:100%;}
    .main_img { width: 100%;text-align: center;padding-bottom: 25px;}
    .main_con figure img { float: none;}
    main{text-align: center;}
    .sidebar{}
    .intro_txt{width:100%;}
    .bullet {
      text-align: left;
      }

  /*Bottom Area*/
  #bottom1{padding: 40px 25px;}
    .btm1_con{min-height:0;padding:0;}
    .btm1_boxes{}
    .btm1_boxes section{margin: 15px 20px;}

  #bottom2{padding: 40px 25px;}
    .btm2_con{min-height:0;padding:0;}
    .btm2_boxes{}
    .btm2_boxes section{}
      
    .btm2_right_con {display: none;}
    .btm2_left_con { margin: 0 auto;}  
  /*Footer Area*/
  footer{}
    .footer_top{height:auto;padding: 40px 25px;}
    .footer_top_con{min-height:0;padding:0;}

    .contact_info{width:100%;float:none;text-align:center;margin:0 auto;}
    .contact_info ul{}
    .contact_info ul li{padding:0;display:inline-block;vertical-align:top;margin:0 15px;}
    .contact_info ul li:before{display:block;position:static;margin:0 auto 10px;}

    .footer_btm{height:auto;padding: 40px 25px;}
    .footer_btm_con{min-height:0;padding:0;}
   
    .footer_nav ul li{display:inline-block;vertical-align:top;width:49%;}
    .footer_nav ul li a{border:1px solid #494949;border-radius:5px;height:auto;margin:5px;padding:15px 10px;line-height: initial;}
    .footer_nav ul li a:hover, .footer_nav ul li a:active, .footer_nav ul li.current_page_item a{text-decoration:none;background: #5290d7;color: white;}
    .footer_nav ul li:after{display:none;}

  	.copyright{	float: none;margin: 25px auto 0;text-align: center;}
    

    .footer_btm_con {flex-wrap: wrap;}
    .footer_nav {order: 3;width: 100%;padding: 20px 0;}
    .legal_con {order: 1; width: 50%;}
    .connect_con {order: 2;width: 50%;}
    .connect_con h2{padding-bottom: 25px;}
    .copyright {order: 4;width: 100%;padding: 0;}
    .legal_con,.connect_con{width: 50%;}
    
    .connect_con,.legal_con{padding:0;}
    .copyright {text-align: center;}
    .footer_nav ul li {padding: 0;}

  /* .copyright > figure:nth-child(1) {margin: 20px 0; }
  } */

@media only screen
and (max-width : 800px) {

  /* Header Area */
  header{padding: 0;}
	.main_logo{max-width: 78%;}
	.head_info{display:block;margin:0 auto;text-align:center;padding:0;float:none;}
	.header_info{display:block;margin:0 auto;text-align:center;padding:0;float:none;}

	.social_media{}

  /* Nav Area*/
  #nav_area{padding:25px 15px;position:relative;}
  .nav_toggle_button{display:block;position:relative;}

	.page_nav {width: 280px;position: fixed;top: 0;right: -280px;height: 100%;background: #ffffff;transition: all 0.7s ease;overflow-y: scroll;padding: 0 0 30px;opacity: 0;float: none; clear: both;z-index:250;}
	.page_nav ul{margin: 0; padding: 25px 15px;}
	.page_nav ul li{width: 100%; display: block; margin: 0 auto 5px;}

	.page_nav ul ul{width:100%; position:relative;  transition:none;}
	.page_nav ul ul li {border:none; width:100%;}


  /* Toggle Style */
  .toggle_right_nav {position: fixed;top: 0;left: 0;right: 0;width:100%;height: 100%;z-index: 1000;visibility: hidden; transition: all 0.7s ease;}
  .toggle_nav_close {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;}
  .toggle_right_cont {visibility: visible;background: rgba(0,0,0,0.9);}
  nav.toggle_right_style {right: 0;opacity: 1;z-index: 45;}
  .logo_slide_right {display:block;float:left;width: calc(100% - 90px);}

  .menu_slide_right {display: block;text-align: left;padding: 20px 10px;background: #fff;position: relative;box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);}

  /*Banner Area*/
  .bnr_info h2{padding-top: 0;}
  .bnr_flex {flex-wrap: wrap;}
  /* .bnr_flex > figure:nth-child(2) > img:nth-child(1) {display: none;} */
  /*Middle Area*/
  .middle_boxes section{display: block; width: 100%; margin: 15px auto;text-align: center;}
  
  .con1 h2{font-size: 50px;text-align: center; }
  .con1 h3{text-align: center;}
  .con1 p {padding: 20px 0;text-align: center;}

  /*Main Area*/

  /*Bottom Area*/
  .form-text,.form-email,.form-message,.form-btn{width: 100%;}
  .form-email,.form-message{margin-top: 20px;}
  .btm2_left_con a{margin: 0 auto;}
  .btm2_left_con {text-align: center;}
  .btm2_btm_con {margin-top: 52px;}
  /*Footer Area*/
  .contact_info{}
  .contact_info ul{}
  .contact_info ul li{display:block;margin:15px auto;}


  .footer_nav ul li{width:48%;}

  .footer_comp{display:block;margin:0 auto;padding:0;}
  .footer_comp:before, .footer_comp:after{display: none;}

  /* Other */
  .thumb_right_dd, .thumb_left_dd{width: 250px;}
  .col3{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .sitemap{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
}

/* Smartphones */
@media only screen
and (max-width : 600px) {
  .serv_list ul li {width:100%;margin:0 auto 20px auto;display:block}
  /*Header Area*/
  
  /*Nav Area*/

  /*Banner Area*/
  .slider{display:none;}
  .mobi_ban{display: block;width:100%;margin-left:0;}
  .non_ban_img{width: 275%;margin-left: -82%;}
  .page_title{position: static;background: #000;font-size: 30px;}



  /*Middle Area*/
  .middle_boxes section{display:block;width: 100%;margin:15px auto;}
  .con1 h3 {font-size: 18px;text-align: center;}
  .mid_box1 {padding: 0;}
  .con1 h2 {line-height: 41px;font-size: 31px;}
  .middle_boxes section {text-align: left;}
  /*Main Area*/

  /*Bottom Area*/
  .btm1_box_con p {padding:36px 0;}
  .btm1_box_con  h3{line-height: 100%;}
  .btm1_boxes section{display:block;width: 100%;margin:15px auto;max-width: 334px;}
  .btm2_left_con h2 {line-height: 100%;font-size: 40px;}
  .btm2_left_con h2 span {font-size: 19px;}
  .btm2_btm_con h2 {font-size: 40px;}
  .btm2_btm_con p {font-size: 16px;padding: 20px 0;}  

  /*Footer Area*/
  footer {padding-bottom: 45px;}

  .footer_nav ul li{display:block;vertical-align:top;width:100%;}
  .footer_nav ul li a{margin:5px auto;}
  .legal_con,.connect_con {width: 100%;}
  .connect_con h2 {padding: 25px 0;}
  .connect_con p mark{display: block;}
  .connect_con p a{display: block;}
  .connect_con p span{display: block;}
  /*Others*/
  #wpadminbar {position: fixed!important;}
  .col2, .col3{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .thumb_left_dd, .thumb_right_dd, .thumb_center_dd{display: none;}
  main .bullet{padding-left:10px;}

  /*For (AddThis) Plugins*/
  .withAddThis_plugins {bottom: 48px;}
  .withAddThis_ftr_btm {padding: 0 10px 88px;}
  /*End (AddThis) Plugins*/

}

@media only screen
and (max-width : 500px) {

}